const dbConfig = {
    url: 'mongodb://localhost',
    dbName: 'dbname',
    port: '27017',
    getUrl: () => {
        return dbConfig.url +
            ':' + dbConfig.port +
            '/' + dbConfig.dbName;
    }
};

module.exports = dbConfig;